<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here -->
    <table class="rules">
        <tr>
            <th>Regulation</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="item : ${glossaryTerms}" id="rules">
            <td>
                <h3 th:text="${item.regulation}">REG</h3>
            </td>
            <td>
                <h3 th:text="${item.term}" class="reg">TERM</h3>
                <p th:text="${item.definition}">DEF</p>
            </td>

        </tr>
    </table>

</div>

</body>
</html>